project_id                     = "gke-demos-363017"
project_number                 = "157995042458"
region                         = "europe-west2"
bq_location                    = "EU"
environment                    = "mvp"
resource_prefix                = "rd-lakehouse"
vpc_subnet_cidr                = "10.168.0.0/19"
gke_pods_cidr                  = "10.176.0.0/16"
gke_services_cidr              = "10.177.0.0/20"
denodo_subnet_cidr             = "10.169.0.0/22"
denodo_gke_pods_cidr           = "10.178.0.0/18"
denodo_gke_services_cidr       = "10.179.0.0/20"
denodo_gke_master_cidr         = "172.16.0.16/28"
psc_subnet_cidr                = "10.169.4.0/24"
ilb_proxy_subnet_cidr          = "10.169.5.0/24"
access_policy_id               = ""
lakehouse_bucket_name          = "gke-demos-363017-rd-lakehouse-hns"
enable_filestore_posix_scratch = false
denodo_cache_dataset_id        = "denodo_vdp_cache"
databricks_account_id          = "00000000-0000-0000-0000-000000000000"
databricks_workspace_host      = "https://8259555750233451.1.gcp.databricks.com"
databricks_workspace_id        = "8259555750233451"
databricks_sql_warehouse_id    = "0154a901254a4f17"
databricks_catalog_schema      = "rd_lakehouse_medallion"
hive_metastore_tier            = "db-custom-4-16384"
denodo_machine_type            = "n4-standard-8"
denodo_container_image_tag     = "8.0-trial"
